.first__section {
  word-spacing: normal;
}

.underline {
  width: 85%;
}

.underline img {
  width: 100%;
  object-fit: contain;
  object-position: right top;
}

.summary {
  max-width: 490px;
  min-width: 330px;
  font-size: 18px;
  word-spacing: normal;
}


/*
  Perform this action for screens < 480px (mobile)
*/
@media only screen and (max-width: 480px) {

  .intro p {
    max-width: 350px;
  }

  .underline img {
    width: 75%;

  }

  .summary {
    font-size: 16px;
  }

}

/*
  Perform this action for screens >= 480px (tablet)
*/
@media only screen and (min-width: 480px) and (max-width: 768px) {

  .underline {
    width: 75%;
  }
}
