.HomePage__first-intro span {
  font-size: 7.7vw;
}

.HomePage__line-brush img {
  object-fit: contain;
  object-position: 80% 20%;
}

.HomePage__line-brush img {
  width: 55%;
}

.HomePage__get-resume {
  align-self: center;
}

.HomePage__about-me {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.HomePage__second-section--title{
  font-size: 2rem;
  margin-bottom: 2rem;
}

.HomePage__second-section--works{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

@media only screen and (min-width: 600px) {

  .HomePage__second-section--works {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1361px) {

  .HomePage__first-intro span {
    font-size: 4vw;
  }
  .HomePage__line-brush img{
    width: 75%;
  }

  .HomePage__get-resume {
    align-self:flex-start;
  }

  .HomePage__about-me {
    max-width: 30.625rem;
    min-width: 20.625rem;
    font-size: 1.125rem;
    word-spacing: normal;
    line-height: 1.3rem;
  }

  .HomePage__about-me p {
    font-size: 1rem;
  }

  .HomePage__second-section--title{
    font-size: 2.2rem;
  }

  .HomePage__second-section--works{
    grid-template-columns: repeat(3, 1fr);
  }
}
/* @media only screen and (max-width: 768px) {
  .HomePage__about-me {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
} */


/*
  Perform this action for screens < 480px (mobile)
*/
/* @media only screen and (max-width: 480px) {

  .HomePage__first-intro span {
    font-size: 2rem;
  }

  .HomePage__line-brush img {
    width: 75%;
  }

  .HomePage__get-resume {
    align-self: center;
  }



} */

/*
  Perform this action for screens >= 480px (tablet)
*/
/* @media only screen and (min-width: 480px) and (max-width: 1024px) {

  .HomePage__line-brush {
    width: 75%;
  }

  .HomePage__get-resume {
    align-self: center;
  }
} */
