.Page__header {
  display: flex;

  justify-content: space-between;

  height: 4.3rem;
 padding: 0rem 3.125rem;
}

.Page__nav--active {
  color: #60BB46;
}

.Page__nav--inactive {
  color: #797F8B;
}

.Page__nav {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13.8164px;
}

.Page__nav:hover {
  color: #60BB46;
}

/*
  Perform this action for screens < 480px (mobile)
*/
@media only screen and (max-width: 480px) {
  .Page__header {

    justify-content: center;


  }

}

/*
  Perform this action for screens > 480px & < 768px (tablet & desktop)
*/
@media only screen and (min-width: 480px) and (max-width: 839px) {

}
