/* This should run only on mobile */
.Socials__wrapper--mobile {
  display: flex;
  align-items: center;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3.4375rem;
  background-color: #fffdf9;
  z-index: 1;
}

.Socials__ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}


@media only screen and (min-width: 1024px) {
  .Socials__wrapper--desktop {
    top: 25%;
    background-color: #fffdf9;
    z-index: 1;
    width: 100%;
    justify-content: flex-end;
    display: flex;
  }

  /* This should run  and desktop.  */
  .Socials__wrapper--mobile {
    bottom: unset;
    right: unset;
    width: unset;
    height: unset;
    background-color: #fffdf9;
    z-index: 1;
  }

  .Socials__ul {
    flex-direction: column;
    width: 100%;
  }

  .Socials__ul li {
    padding-bottom: 1.875rem;
  }
}
