.IconButtonSize--xs {
  width: 1.875rem;
  height: 1.875rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
}
.IconButtonSize--sm {
  width: 2.125rem;
  height: 2.125rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.IconButton--disabled {
  opacity: 0.5;
}

.IconButton--default {
  background: transparent;
  color: var(--black);
}

.IconButton--default:hover {
  opacity: 0.6;
}

.IconButton--primary {
  background: var(--dark-green);
  color: var(--white);
}

.IconButton--primary:hover {
  opacity: 0.6;
}

.Button--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-color: transparent;
  border-radius: 50%;
  outline: 2px solid transparent;
  outline-offset: 2px;
  cursor: pointer;
}
