* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --black: #21243D;
  --grey: #c5c5c5;
  --red: #FF6464;
  --light-grey: #797F8B;
  --lighter-grey: #f6f6f6;
  --white: #ffffff;
  --milky-white: #FFFDF9;
  --dark-green: #3B5856;
  --light-brown: #8F7F5F;
  --dark-grey: #c5c5c5;
  --darker-grey: #999999;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

.horizontal__line--top {
  border: none;
  border-top: 1px solid var(--black);
  padding: 0;
  width: 100%;
}

.horizontal__line--white {
  border: none;
  border-top: 1px solid var(--white);
  padding: 0;
  width: 100%;
}

.Trk__border--none {
  border: none;
}

.Trk__background--transparent {
  background: transparent;
}

.black {
  color: var(--black);
}

.grey {
  color: var(--grey);
}

.red {
  color: var(--red);
}

.light-grey {
  color: var(--light-grey);
}

.darker-grey {
  color: var(--darker-grey);
}

.white {
  color: var(--white);
}

.dark-green {
  color: var(--dark-green);
}

.bg-black {
  background-color: var(--black);
}

.bg-grey {
  background: var(--grey);
}

.bg-light-grey {
  background: var(--light-grey);
}

.bg-lighter-grey {
  background: var(--lighter-grey);
}

.bg-white {
  background: var(--white);
}

.bg-dark-green {
  background: var(--dark-green);
}

.nav {
  font-size: 1.25rem;
  text-decoration: none;
}

.nav:hover {
  color: var(--dark-green);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.text__body--large,
.text__body--xlarge,
.text__body--xxlarge,
.labels {
  word-break: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin-top: 0;
}

h1,
.h1 {
  font-size: 3rem;
}

h2,
.h2 {
  font-size: 2.5rem;
}

h3,
.h3 {
  font-size: 2rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: 0.875rem;
}

.text__body--regular {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text__body--large {
  font-size: 1.5rem;
}

.labels {
  font-size: 1.25rem;
}

p,
.par {
  font-size: 1rem;
}

.text__body--mlarge {
  font-size: 2.5rem;
}

.text__body--xlarge {
  font-size: 3rem;
}

.text__body--xxlarge {
  font-size: 2rem;
}

.text__body--xxxlarge {
  font-size: 3rem;
}

.underline {
  text-decoration: underline;
}

@media only screen and (min-width: 991px) {
  h1,
  .h1 {
    font-size: 5rem;
  }

  h2,
  .h2 {
    font-size: 4rem;
  }

  h3,
  .h3 {
    font-size: 2.5rem;
  }

  h4,
  .h4 {
    font-size: 1.875rem;
  }

  h5,
  .h5 {
    font-size: 1.5rem;
  }

  h6,
  .h6 {
    font-size: 1.25rem;
  }

  .text__body--large {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .text__body--mlarge {
    font-size: 2.5rem;
  }

  .text__body--xlarge {
    font-size: 3rem;
  }

  .text__body--xxlarge {
    font-size: 4rem;
  }

  .text__body--xxxlarge {
    font-size: 8.75rem;
  }

  .labels {
    font-size: 1.25rem;
  }

  p,
  .par {
    font-size: 1rem;
  }
}

.Trk__overflow--hidden {
  overflow: hidden;
}

.text__body--medium {
  font-size: 1.25rem;
}

.text__body--small {
  font-size: 0.875rem;
}

.text__body--small-medium {
  font-size: 1rem;
}

.labels {
  font-size: 1.25rem;
}

.font__weight--light {
  font-weight: lighter;
}
.font__weight--small {
  font-weight: 300;
}
.font__weight--medium {
  font-weight: 500;
}
.font__weight--bold {
  font-weight: 700;
}

.Trk__LineHeight--0 {
  line-height: 0;
}

.Trk__LineHeight--1 {
  line-height: 0.5rem;
}

.Trk__LineHeight--2 {
  line-height: 1rem;
}

.Trk__LineHeight--2-1 {
  line-height: 1.25rem;
}

.Trk__LineHeight--3 {
  line-height: 1.5rem;
}

.Trk__LineHeight--4 {
  line-height: 2rem;
}

.Trk__LineHeight--5 {
  line-height: 2.5rem;
}

.Trk__letter--spacing {
  letter-spacing: 0.125rem;
}

.Trk__decoration--underline {
  text-decoration: underline;
}

.Trk__uppercase {
  text-transform: uppercase;
}

.Trk__text--center {
  text-align: center;
}

.Trk__capitalize {
  text-transform: capitalize;
}

.Trk__width--max {
  width: 100%;
}

.Trk__height--max {
  height: 100%;
}

.Trk__width--min {
  width: 0%;
}

.Trk__width--third {
  max-width: 33rem;
}

.Trk__flex {
  display: flex;
}

.Trk__grow--1 {
  flex-grow: 1;
}

.Trk__direction--column {
  flex-direction: column;
}

.Trk__justify--end {
  justify-content: flex-end;
}

.Trk__justify--center {
  justify-content: center;
}

.Trk__justify--around {
  justify-content: space-around;
}

.Trk__justify--between {
  justify-content: space-between;
}

.Trk__justify--start {
  justify-content: flex-start;
}

.Trk__justify--evenly {
  justify-content: space-evenly;
}

.Trk__align--center {
  align-items: center;
}

.Trk__align--end {
  align-items: flex-end;
}

.Trk__align--stretch {
  align-items: stretch;
}

.Trk__align--start {
  align-items: flex-start;
}

.Trk__align--baseline {
  align-items: baseline;
}

.Trk__wrap {
  flex-wrap: wrap;
}

.Trk__dn {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Trk__dn--xs {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .Trk__dn--sm {
    display: none;
  }
}

@media only screen and (min-width: 991px) {
  .Trk__dn--lg {
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  .Trk__dn--xlg {
    display: none;
  }
}

@media only screen and (max-width: 1025px) {
  .Trk__dn--xsm {
    display: none;
  }
}

.Trk__relative {
  position: relative;
}

.Trk__absolute {
  position: absolute;
}

.Trk__fixed {
  position: fixed;
}

.Trk__pointer {
  cursor: pointer;
}

.Trk__mt--0 {
  margin-top: 0;
}

.Trk__mt--1 {
  margin-top: 0.25rem;
}

.Trk__mt--2 {
  margin-top: 0.5rem;
}

.Trk__mt--3 {
  margin-top: 1rem;
}

.Trk__mt--4 {
  margin-top: 1.5rem;
}

.Trk__mt--5 {
  margin-top: 2rem;
}

.Trk__mt--6 {
  margin-top: 2.5rem;
}

.Trk__mt--7 {
  margin-top: 3rem;
}

.Trk__mt--8 {
  margin-top: 3.5rem;
}

.Trk__mt--9 {
  margin-top: 4rem;
}

.Trk__mt--10 {
  margin-top: 4.5rem;
}

.Trk__mb--0 {
  margin-bottom: 0;
}

.Trk__mb--1 {
  margin-bottom: 0.25rem;
}

.Trk__mb--2 {
  margin-bottom: 0.5rem;
}

.Trk__mb--2-5 {
  margin-bottom: 0.75rem;
}

.Trk__mb--3 {
  margin-bottom: 1rem;
}

.Trk__mb--4 {
  margin-bottom: 1.5rem;
}

.Trk__mb--5 {
  margin-bottom: 2rem;
}

.Trk__mb--6 {
  margin-bottom: 2.5rem;
}

.Trk__mb--7 {
  margin-bottom: 3rem;
}

.Trk__mb--8 {
  margin-bottom: 3.5rem;
}

.Trk__mb--9 {
  margin-bottom: 4rem;
}

.Trk__mb--10 {
  margin-bottom: 4.5rem;
}

.Trk__mb--11 {
  margin-bottom: 5rem;
}

.Trk__mb--12 {
  margin-bottom: 5.5rem;
}

.Trk__mb--13 {
  margin-bottom: 6rem;
}

.Trk__mb--14 {
  margin-bottom: 6.5rem;
}

.Trk__mb--15 {
  margin-bottom: 7rem;
}

.Trk__ml--0 {
  margin-left: 0;
}

.Trk__ml--1 {
  margin-left: 0.25rem;
}

.Trk__ml--2 {
  margin-left: 0.5rem;
}

.Trk__ml--3 {
  margin-left: 1rem;
}

.Trk__ml--4 {
  margin-left: 1.5rem;
}

.Trk__ml--5 {
  margin-left: 2rem;
}

.Trk__ml--6 {
  margin-left: 2.5rem;
}

.Trk__ml--7 {
  margin-left: 3rem;
}

.Trk__ml--8 {
  margin-left: 3.5rem;
}

.Trk__ml--9 {
  margin-left: 4rem;
}

.Trk__ml--10 {
  margin-left: 4.5rem;
}

.Trk__mr--0 {
  margin-right: 0;
}

.Trk__mr--1 {
  margin-right: 0.25rem;
}

.Trk__mr--2 {
  margin-right: 0.5rem;
}

.Trk__mr--3 {
  margin-right: 1rem;
}

.Trk__mr--4 {
  margin-right: 1.5rem;
}

.Trk__mr--5 {
  margin-right: 2rem;
}

.Trk__mr--6 {
  margin-right: 2.5rem;
}

.Trk__mr--7 {
  margin-right: 3rem;
}

.Trk__mr--8 {
  margin-right: 3.5rem;
}

.Trk__mr--9 {
  margin-right: 4rem;
}

.Trk__mr--10 {
  margin-right: 4.5rem;
}

/* PADDING */

.Trk__p--0 {
  padding: 0;
}

.Trk__p--1 {
  padding: 0.25rem;
}

.Trk__p--2 {
  padding: 0.5rem;
}

.Trk__p--2-5 {
  padding: 0.75rem;
}

.Trk__p--3 {
  padding: 1rem;
}

.Trk__p--4 {
  padding: 1.5rem;
}

.Trk__p--5 {
  padding: 2rem;
}

.Trk__p--5-2 {
  padding: 2.25rem;
}

.Trk__p--6 {
  padding: 2.5rem;
}

.Trk__p--7 {
  padding: 3rem;
}

.Trk__p--8 {
  padding: 3.5rem;
}

.Trk__p--9 {
  padding: 4rem;
}

.Trk__p--10 {
  padding-top: 4.5rem;
}

.Trk__pt--0 {
  padding-top: 0;
}

/* PADDING TOP */

.Trk__pt--1 {
  padding-top: 0.25rem;
}

.Trk__pt--2 {
  padding-top: 0.5rem;
}

.Trk__pt--3 {
  padding-top: 1rem;
}

.Trk__pt--4 {
  padding-top: 1.5rem;
}

.Trk__pt--5 {
  padding-top: 2rem;
}

.Trk__pt--6 {
  padding-top: 2.5rem;
}

.Trk__pt--7 {
  padding-top: 3rem;
}

.Trk__pt--8 {
  padding-top: 3.5rem;
}

.Trk__pt--9 {
  padding-top: 4rem;
}

.Trk__pt--10 {
  padding-top: 4.5rem;
}

/* PADDING BOTTOM */

.Trk__pb--0 {
  padding-bottom: 0;
}

.Trk__pb--1 {
  padding-bottom: 0.25rem;
}

.Trk__pb--2 {
  padding-bottom: 0.5rem;
}

.Trk__pb--3 {
  padding-bottom: 1rem;
}

.Trk__pb--4 {
  padding-bottom: 1.5rem;
}

.Trk__pb--5 {
  padding-bottom: 2rem;
}

.Trk__pb--6 {
  padding-bottom: 2.5rem;
}

.Trk__pb--7 {
  padding-bottom: 3rem;
}

.Trk__pb--8 {
  padding-bottom: 3.5rem;
}

.Trk__pb--9 {
  padding-bottom: 4rem;
}

.Trk__pb--10 {
  padding-bottom: 4.5rem;
}

/* PADDING LEFT */

.Trk__pl--0 {
  padding-left: 0;
}

.Trk__pl--1 {
  padding-left: 0.25rem;
}

.Trk__pl--2 {
  padding-left: 0.5rem;
}

.Trk__pl--3 {
  padding-left: 1rem;
}

.Trk__pl--4 {
  padding-left: 1.5rem;
}

.Trk__pl--5 {
  padding-left: 2rem;
}

.Trk__pl--6 {
  padding-left: 2.5rem;
}

.Trk__pl--7 {
  padding-left: 3rem;
}

.Trk__pl--8 {
  padding-left: 3.5rem;
}

.Trk__pl--9 {
  padding-left: 4rem;
}

.Trk__pl--10 {
  padding-left: 4.5rem;
}

/* PADDING RIGHT */

.Trk__pr--0 {
  padding-right: 0;
}

.Trk__pr--1 {
  padding-right: 0.25rem;
}

.Trk__pr--2 {
  padding-right: 0.5rem;
}

.Trk__pr--3 {
  padding-right: 1rem;
}

.Trk__pr--4 {
  padding-right: 1.5rem;
}

.Trk__pr--5 {
  padding-right: 2rem;
}

.Trk__pr--6 {
  padding-right: 2.5rem;
}

.Trk__pr--7 {
  padding-right: 3rem;
}

.Trk__pr--8 {
  padding-right: 3.5rem;
}

.Trk__pr--9 {
  padding-right: 4rem;
}

.Trk__pr--10 {
  padding-right: 4.5rem;
}

.Trk__o--7 {
  opacity: 0.7;
}
