.Page__main {
  position: relative;
  height: 100%;
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0rem 9.0rem;


  scroll-snap-type: y mandatory;
  scroll-padding: 40px;

}



/*
  Perform this action for screens < 480px (mobile)
*/
@media only screen and (max-width: 480px) {

  .Page__main {

    padding: 0rem 3rem;
  }
}

/*
  Perform this action for screens > 480px & < 768px (tablet & desktop)
*/
@media only screen and (min-width: 480px) and (max-width: 839px) {
  .Page__main {
    padding: 0rem 3.0rem;
  }
}
